header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s; 
  }
  
  .navbar-menu a:hover {
    text-decoration: none;
    color: #ffc107; 
  }
  
  .navbar-menu .active {
    font-weight: bold;
    text-decoration: underline;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container form div {
    margin-bottom: 10px;
  }
  
  .form-container form label {
    font-weight: bold;
  }
  
  .form-container form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container form button:hover {
    background-color: #0056b3;
  }
  
  .alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 300px;
    max-width: 90%;
    text-align: center;
  }
  
  .alert-container .alert {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }